<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.dao.GyIdentityMapper">
  <resultMap id="BaseResultMap" type="com.bsoft.domain.GyIdentity">
    <id column="BMC" jdbcType="VARCHAR" property="bmc" />
    <result column="DQZ" jdbcType="DECIMAL" property="dqz" />
    <result column="CSZ" jdbcType="DECIMAL" property="csz" />
    <result column="DZZ" jdbcType="DECIMAL" property="dzz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BMC, DQZ, CSZ, DZZ
  </sql>
  <select id="selectByExample" parameterType="com.bsoft.domain.GyIdentityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GY_IDENTITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GY_IDENTITY
    where BMC = #{bmc,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from GY_IDENTITY
    where BMC = #{bmc,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bsoft.domain.GyIdentityExample">
    delete from GY_IDENTITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsoft.domain.GyIdentity">
    insert into GY_IDENTITY (BMC, DQZ, CSZ, 
      DZZ)
    values (#{bmc,jdbcType=VARCHAR}, #{dqz,jdbcType=DECIMAL}, #{csz,jdbcType=DECIMAL}, 
      #{dzz,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bsoft.domain.GyIdentity">
    insert into GY_IDENTITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bmc != null">
        BMC,
      </if>
      <if test="dqz != null">
        DQZ,
      </if>
      <if test="csz != null">
        CSZ,
      </if>
      <if test="dzz != null">
        DZZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bmc != null">
        #{bmc,jdbcType=VARCHAR},
      </if>
      <if test="dqz != null">
        #{dqz,jdbcType=DECIMAL},
      </if>
      <if test="csz != null">
        #{csz,jdbcType=DECIMAL},
      </if>
      <if test="dzz != null">
        #{dzz,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsoft.domain.GyIdentityExample" resultType="java.lang.Integer">
    select count(*) from GY_IDENTITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update GY_IDENTITY
    <set>
      <if test="record.bmc != null">
        BMC = #{record.bmc,jdbcType=VARCHAR},
      </if>
      <if test="record.dqz != null">
        DQZ = #{record.dqz,jdbcType=DECIMAL},
      </if>
      <if test="record.csz != null">
        CSZ = #{record.csz,jdbcType=DECIMAL},
      </if>
      <if test="record.dzz != null">
        DZZ = #{record.dzz,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update GY_IDENTITY
    set BMC = #{record.bmc,jdbcType=VARCHAR},
      DQZ = #{record.dqz,jdbcType=DECIMAL},
      CSZ = #{record.csz,jdbcType=DECIMAL},
      DZZ = #{record.dzz,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsoft.domain.GyIdentity">
    update GY_IDENTITY
    <set>
      <if test="dqz != null">
        DQZ = #{dqz,jdbcType=DECIMAL},
      </if>
      <if test="csz != null">
        CSZ = #{csz,jdbcType=DECIMAL},
      </if>
      <if test="dzz != null">
        DZZ = #{dzz,jdbcType=DECIMAL},
      </if>
    </set>
    where BMC = #{bmc,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsoft.domain.GyIdentity">
    update GY_IDENTITY
    set DQZ = #{dqz,jdbcType=DECIMAL},
      CSZ = #{csz,jdbcType=DECIMAL},
      DZZ = #{dzz,jdbcType=DECIMAL}
    where BMC = #{bmc,jdbcType=VARCHAR}
  </update>
  
</mapper>